.item{
    color: chocolate;
    text-align: center;
    list-style-type: none;
}
.expense{
    /* color: red; */
    border-right: 5px solid red;
}
.income{
    /* color: green; */
    border-right: 5px solid green;
}